:host {
  --search-padding: var(--spacing, 16px);
  --search-radius: var(--radius, 20px);
  position: relative;
  width: 250px;
  display: block;
  z-index: 1  ;
}

.search-input {
  width: 100%;
  padding: var(--search-padding);
  border: none;
  border-radius: var(--search-radius);
}

.list {
  width: 100%;
  position: absolute;
  background: white;
  color: black;
  top: 30px;
  padding-top: 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.list .result {
  padding: 12px;
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: var(--black);
}